<nav class="navbar navbar-expand-lg px-4 navbar-light ">
    <div class="container-fluid ">
        <a class="navbar-brand fs-3" href="/">Agenda</a>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                <a class="nav-link" href="/contacts">Contactos</a>
                <a class="nav-link" href="/contacts/favorites">Favoritos</a>
            </div>
        </div>
        <a class="btn btn-light" href="/logout">Cerrar Sesión</a>
    </div>
</nav>